node_modules/
/test-results/
/playwright-report/
/playwright-report-archive/
/playwright/.cache/
.auth/
*_spec3.json
coverage-output.txt

# System Files
.DS_Store
Thumbs.db
playwright-browserstack-sdk.config.temp.json
playwright-browserstack-sdk.config.ts
local.log
browserstack.err
browserstackSetupConfig.json
performance-report.json
/log
.idea
.obs*
